.footer {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer__wrapper {
  display: grid;
  width: 320px;
  padding: 40px 15px;
  margin: 0 auto;
  justify-content: center;

  @media (min-width: $tablet-width) {
    min-width: 678px;
    padding: 40px 45px;
  }

  @media (min-width: $desktop-width) {
    width: 1240px;
    padding: 60px 100px 40px;
  }
}

.footer__nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px 30px;
  justify-content: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    grid-area: 1/2/2/4;
    justify-content: flex-end;
    min-width: 625px;
    column-gap: 15px;
    margin-top: 17px;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1/2/2/4;
    justify-content: flex-start;
    width: 990px;
    column-gap: 30px;
  }
}

.footer__nav-item {
  padding: 0;
  margin: 0;
}

.footer__nav-link {
  font-size: 14px;
  line-height: 20px;
  color: $primary-color;
  text-decoration: none;
  text-align: center;
}

.footer__privacy {
  position: relative;
  justify-content: center;
  color: $primary-color;
  text-decoration: none;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 13px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    grid-area: 2/1/3/3;
    justify-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2/3/3/5;
    justify-self: flex-end;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 18px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: $primary-color;
    left: 0;
    bottom: -2px;
  }
}

.footer__copyright {
  font-size: 12px;
  line-height: 14px;
  opacity: 0.6;
  justify-self: center;
  margin: 0 0 14px;

  @media (min-width: $tablet-width) {
    grid-area: 3/1/4/3;
    justify-self: flex-start;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-area: 2/1/3/3;
    font-size: 14px;
    line-height: 18px;
    opacity: 1;
    margin-top: 0;
  }
}

.footer__social-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-self: center;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-area: 2/3/3/4;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1/4/2/5;
  }
}

.footer__social-item {
  height: 26px;
  width: 26px;
  background-color: $base-bg;
  border-radius: 50%;
  padding: 0;
  margin: 0;
}

.footer__social-link {
  display: flex;
  position: relative;
  width: 26px;
  height: 26px;
  overflow: hidden;

  &::after {
    position: absolute;
    content: "";
    width: 26px;
    height: 26px;
    background-color: $secondary-color;
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 12px 12px;
  }

  &:hover {
    opacity: 0.7;
  }
}

.footer__social-link--vk {
  &::after {
    mask-image: url("../../img/sprite/vk.svg");
  }
}

.footer__social-link--ok {
  &::after {
    mask-image: url("../../img/sprite/odnoklassniki.svg");
  }
}

.footer__social-link--reddit {
  &::after {
    mask-image: url("../../img/sprite/reddit.svg");
  }
}
