.header-menu {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 0.28px;
  color: $base-bg;
  background-color: $secondary-color;
}

.header-menu__button {
  border-radius: 30px;
  border: 1px solid $base-bg;
  color: $base-bg;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  height: 54px;
  width: 136px;
}

.header-menu__item {
  font-size: 16px;
  line-height: 16px;
}

.menu-list {
  text-transform: capitalize;
}
