.header-menu__button {
  border-radius: 30px;
  border: 1px solid $base-bg;
  color: $base-bg;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  line-height: 14px;
  height: 54px;
  width: 136px;
  background-color: $secondary-color;

  @media (min-width: $tablet-width) {
    height: 56px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 46px;
    height: 46px;
    background-color: $base-bg;
    border-radius: 50%;
    right: 5px;
    top: 3px;
  }

  &::after {
    position: absolute;
    content: "";
    height: 46px;
    width: 46px;
    border-radius: 50%;
    top: 3px;
    right: 5px;
    background-color: $secondary-color;
    mask-image: url("../../img/sprite/menu.svg");
    mask-position: center;
    mask-repeat: no-repeat;
    mask-size: 18px 18px;
    transform: tranform 150ms ease-out;
  }
}

.header-menu__text {
  display: flex;
  padding-left: 15px;
}

.header-menu__item {
  font-size: 16px;
  line-height: 16px;
}

.menu-list {
  text-transform: capitalize;
}
