/* размеры экрана */
$mobile-width-only: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

/* основные цвета */
$primary-color: #484848;
$secondary-color: #ffffff;
$base-bg: #326dc2;
$light-bg: #f0efe9;
$active-bg: #275699;
$eror-color: #ff5e65;
$disabled-color: #a9afb7;

/* Overlay */

$overlay-blue: rgba(49, 109, 194, 0.2);
$overlay-dark: rgba(13, 29, 51, 0.4);

/* Шрифт */

$primary-font: "Manrope", "Arial", sans-serif;
